body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}

.margin-box {
    width: 80%;
    margin: auto;
    margin-bottom: 1.5%;

}

.box {
    width: 80%;
    margin: auto;
    margin-bottom: 1.5%;

    display: flex;
}

.title {
    position: relative;
}

.left-stick {
    background: red;
    width: 4px;
    height: 130px;
    border-radius: 6px;
    position: absolute;
    top: 15%;
}

.left-side {
    width: 40%;
}

.focus {
    margin-top: 25%;
    margin-left: 3%;
    font-size: 60px;
    color: #333333;
}


.mission {
    margin-top: -13%;
    margin-left: 3%;
    font-size: 58px;
    color: red;
}

.focus-text {
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 7%;
}

.explore-btn {
    background: linear-gradient(183deg, #ff0000e8, rgb(232, 89, 22));
    color: white;
    text-decoration: none;
    padding: 2% 6%;
    border-radius: 7px;
}

.scroll-text {
    font-size: 15px;
    margin-top: 5%;
}

.right-side {
    width: 60%;
}

.img-area {
    margin-left: 21%;
}

.img-area img {
    width: 80%;
}

.secound {
    width: 80%;
    margin: auto;
    margin-top: 2.5%;
    margin-bottom: 1.5%
}

.secound-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.misson-title h1 {
    font-size: 45px;
    text-align: center;
    color: #16133D;
}

.misson-title strong {
    color: #FFAD5A;
}

.card {
    width: 30%;
    height: 307px;
    overflow: hidden;
    border-radius: 50px;
    padding: 1%;
}

.first-card-color {
    background: #EDF5F6;

}

.secound-card-color {
    background: #FFEEEE;

}

.third-card-color {
    background: #FFF4D6;

}

.card-img {
    width: 100%;
    height: 155px;
    overflow: hidden;
}

.card-img img {
    width: 43%;
    margin-top: 2%;
}

.card-title {
    margin-left: 3%;
    font-size: 21px;
    font-weight: 500;
}

.card-text {
    margin-left: 3%;
    font-size: 15px;
    margin-bottom: 3%;
}

.dev-img-area {
    margin-top: 20%;
}

.dev-img-area img {
    width: 85%;
}

.dev-focus {
    margin-top: 17%;
    width: 206px;
    font-size: 33px;
}

.dev-section {
    position: relative;
}

.dev-shape {
    width: 12%;
    position: absolute;
    left: 5%;
    top: 37%;
    z-index: -1;
}

.cm-shape {
    width: 15%;
    position: absolute;
    right: 8%;
    top: 69%;
    z-index: -1;
}

.cm-title {
    margin-top: 17%;
}

.cm-focus {
    font-size: 33px;
}

.cm-focus-text {
    margin-top: -3%;
    width: 80%;
}

.experience-title {
    margin-top: 7.5%;
    margin-bottom: 5%;
}

.experience-title h1 {
    text-align: center;
    font-size: 40px;
}

.experience-title h1 strong {
    color: #ffad5a;
}

.experience-card {
    width: 45%;
    height: 250px;
    padding: 1%;
    border-radius: 5px;
    border-right: 5px solid #FF5959;
    box-shadow: 0px 0px 3px 0px;
    position: relative;
}

.experience-box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.experience-card h1 {
    font-size: 30px;
    margin-left: 3%;
    color: #000000d9;
    font-weight: 400;
}

.experience-card h3 {
    margin-top: -3%;
    margin-left: 3%;
    font-size: 16px;
    font-weight: 300;
    color: #FF5959;
}

.experience-card p {
    width: 93%;
    margin-left: 3%;
    margin-top: 6%;
}

footer {
    margin-top: 10%;
    background: #0B0D17;
    padding: 2%;
}

footer h1 {
    text-align: center;
    color: white;
}

footer h1 strong {
    color: #FF5959;
}

footer p {
    text-align: center;
    color: #ffffff99;
}